---
layout: default
title: Writing
current_writing: true
---

<div class="home">
  <div class="posts">
<!--     <div class="post">
      <p class="post-summary"> Most articles can also be found <a href="https://medium.com/@prlambert">on Medium.</a></p>
    </div> 
    {% for post in paginator.posts %}
      <div class="post">
        {% if post.alt-link %}
            <a href="{{ post.alt-link }}" class="post-link">
        {% else %}
            <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        {% endif %}
          <div class="post-image" style="background: url({{ post.post-image }}) no-repeat center center;"></div>
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
          <h3 class="h2 post-title">{{ post.title }}</h3>
          <p class="post-summary">{{ post.summary }}</p>
        </a>
      </div>
    {% endfor %}
-->

	
  </div>

  {% include pagination.html %}
</div>
