@charset "UTF-8";
/*

  Custom SCSS for prlambert.com

*/

.site-header nav a.current {
  color: #444;
  opacity: 1;
  border-bottom: 2px solid #444;
}

footer nav a{
	color: #666;
	text-transform: lowercase;
	margin-left: 1rem;
}

footer nav a:hover, footer nav a.current {
  color: #444;
  opacity: 1;
  border-bottom: 1px solid #444;
}
