@charset "UTF-8";
/*

  Custom SCSS for prlambert.com

*/

.site-header nav a.current {
  color: #444;
  opacity: 1;
  border-bottom: 2px solid #444;
}

footer nav a{
	color: #666;
	text-transform: lowercase;
	margin-left: 1rem;
}

footer nav a:hover, footer nav a.current {
  color: #444;
  opacity: 1;
  border-bottom: 1px solid #444;
}

.post-image {
  height: 5rem;
  background-size: cover;
}

p, ul {
  /*font-weight: 300;
    color: #333;*/
    font-size: 0.95rem;
    line-height: 1.4;
}

body {
  font-size: 1.2rem;
}

table {
  font-size: 0.9rem;
}

#sectionlinks a {
  display: inline;
  font-size: 1rem;
  font-family: "Lato", 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

.sidebar {
  font-family: 'Barlow Condensed', sans-serif;
}

.sidebar h1 a {
  color: #fea684;
  opacity: 0.9;
}